<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error" 
      internalLogFile="log/internalLog.txt"
      >
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="SqlLog" fileName="${currentdir}/log/sql/${shortdate}.log"
           layout="${longdate} ${logger} ${uppercase:${level}}
${newline}${message} ${exception:format=tostring}${newline}" />
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="LogInfo" fileName="${currentdir}/log/logs/${shortdate}.log"
            layout="${longdate} ${logger} ${uppercase:${level}} 
${newline}【请求url】：${aspnet-request-url}
${newline}【堆栈信息】：${exception: Type, ToString, Method, StackTrace} 
${newline}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.EntityFrameworkCore.Database.*" 
            minlevel="Trace" maxlevel="Info" writeTo="SqlLog" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!--<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="InfoLog" />-->
    <logger name="*" minlevel="Info" writeTo="LogInfo" />
  </rules>
</nlog>