@for $i from 1 through 5 {
  $index:$i - 1;
  .#{$prefix}-#{$i}x {
      font-size: $font-size + 0.25em * $index;
  }
}
.text-mid{
  vertical-align: middle;
}

//.hx-text-green
.#{$prefix}-text-green {
  color: $green;
}
//.hx-text-orange
.#{$prefix}-text-orange {
  color: $orange;
}
//.hx-text-gray
.#{$prefix}-text-gray {
  color: $gray-500;
}
//.hx-text-gray
.#{$prefix}-text-blue {
  color: $blue;
}