
$prefix: 'hx' !default;//要应用于所有CSS选择器的前缀。 如果更改了，则还必须在JavaScript应用程序中进行更改。
//头部
$header-height:3.5rem;
$line-height:1.5em;
//字体大小
$font-family: Microsoft YaHei,Microsoft YaHei UI, Arial, Helvetica, sans-serif;
$font-size: 1em !default;
//大小
$max-width: 1270px; //网站页面的最大宽度
$max-xl-width: 1270px; //网站页面的最大宽度
$max-lg-width:880px;
$width-100: 100%;
$width-75:75%;
$width-70: 70%;
$width-50: 50%;
$width-30:30%;
$width-25: 25%;
$width-0: 0;
$height-100: 100%;
$height-75: 75%;
$height-50: 50%;
$height-25: 25%;
$height-0: 0;
//颜色
$body-bg-color: #efefef !default; //body 的背景颜色
$base-color: #00c1de !default; //@颜色
$font-color: #3d3d3d !default; //字体颜色黑色
$font-hovered-color: #00c1de !default; //鼠标在元素上面时字体颜色黑色
$green: #07AF12 !default;//微信绿
$orange: #ef5509 !default;//橙色
$purple: #ad93d2 !default;//紫色
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$dark: #292b3a !default; //黑色
$black: #000 !default;//黑色
$blue: #3399ea !default; //蓝色
$white: #FFF !default; //蓝色
//后台管理颜色
$toggler-icon-color: #5d5f77;
$toggler-icon-hover-color: #716aca;

//轮播图
$carousel-xl-width: 17.625rem;
$carousel-xl-height: 17.375rem;
$carousel-lg-width: 16.375rem;
$carousel-lg-height: 16.25rem;
$carousel-md-width: 13.875rem;
$carousel-md-height: 13rem;
$carousel-sm-width: $width-100;
$carousel-sm-height: 14.5rem;