.hx-editor {
  .ck-content,.v-note-panel {
    min-height: calc(100vh - 23.5rem);
    max-height: 100vh;
  }
  .v-note-wrapper {
    z-index: 999;
    border-color: rgb(221, 221, 221) !important;
    .v-note-op {
      border-bottom: 1px solid #ddd !important;
      .v-left-item,.v-right-item{
        min-height: 38px;
      }
      .op-icon-divider {
        padding: 9px 0;
        border-bottom: 1px solid #ddd !important;
      }
    }
  }
}

.hx-view{
  .markdown-body{
    border: none;
  }
  pre{
    max-height: 400px;
  }
}