body,
html{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.hx-fa-some{
  width:$font-size;
  text-align: center;
}
@import 'size';
@import 'text';
@import 'bootstrap'
