body,
html {
  height: 100%;
}

body {
  font-family: Microsoft YaHei, Microsoft YaHei UI, Arial, Helvetica, sans-serif;
  color: #3d3d3d !important;
  background: #efefef !important;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.#{$prefix}-fa-some {
  width: $font-size;
  text-align: center;
}

.#{$prefix}-container {
  margin: 0 auto;
  margin-top: $header-height + 0.25rem !important;
  max-width: $max-width;
}

@import 'function';
@import 'site';
@import 'size';
@import 'text';
@import 'bootstrap';
@import 'color';
@import 'hxeditor';
@import 'hxnavbar';