@import 'size';
body,
html{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
.d-flex{
  display: flex !important;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}